fastapi
uvicorn[standard]
python-dotenv
azure-search-documents
openai
aiohttp
requests
google-adk
python-dotenv
python-multipart
google-api-python-client 
aiosqlite
pandas
bcrypt==4.0.1 
passlib[bcrypt]==1.7.4
python-jose[cryptography]
scikit-learn
pandas
numpy
